<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                </li>
                <li>
                    <a href="{% url 'list_projects' %}">My Projects</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">logout</a>
                </li>
            </ul>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">signup</a>
                </li>
                {% endif %}
        </nav>
    </header>
    <main>
        <div>
            <h1>Signup</h1>
            <form method="post" actions="">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Signup</button>
            </form>
        </div>
    </main>
</body>
</html>
