<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                </li>
                <li>
                    <a href="{% url 'list_projects' %}">My Projects</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">logout</a>
                </li>
            </ul>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">signup</a>
                </li>
                {% endif %}
        </nav>
    </header>
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if tasks.count != 0 %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>Due Date</th>
                    <th>Is completed</th>
                </tr>
                {% for item in tasks.all %}
                <tr>
                    <td>
                        {{ item.name }}
                    </td>
                    <td>
                        {{ item.start_date }}
                    </td>
                    <td>
                        {{ item.due_date }}
                    </td>
                    <td>
                        {{ item.is_completed|yesno }}
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
</body>
</html>
